<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="URL" value="qq.com"/>
    <parameter name="KEY" value="12345"/>
    <test verbose="2" preserve-order="true" name="Demo Test Cases">
        <parameter name="URL" value="qaclickacademy.com"/>
        <classes>
            <class name="org.example.SeleniumIntroduction"/>
<!--                <methods>-->
<!--                    <include name="Demo.*"/>-->
<!--                </methods>-->
<!--            </class>-->
        </classes>
    </test>
    <test name="Core Java Test Case">
        <parameter name="URL" value="qa.com"/>
        <classes>
            <class name="org.example.corejava.CoreJavaBrushUp1"/>
        </classes>
    </test>
</suite>